body, html {
  background-color: #95B46A !important;
  height: 100%;
}

/* Title */
.title {
  height: 100%;
}

.title > h1 {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  font-size: 72px;
  color: #172815;
  margin: 0;
  position: absolute;
  top: 61%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title > h4, .title > p {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  color: #172815;
  margin: 0;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title > p {
    padding-top: 25px;
}

.title > .project-link {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  color: #172815;
  margin: 0;
  top: 71%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* Mugshot */
.zasha-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 6px solid #172815;
  margin-bottom: 1em;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  top: 0px;
}

.header > p {
  font-family: system-ui, Courier, monospace;
  font-weight: 800;
  color: #172815;
  margin-right: 2vw;
  margin-top: 1em;
  text-align: right;
}

.header > img {
  margin-left: 2vw;
  margin-top: 1em;
  text-align: left;
  height: 40px;
  width: 40px;
  top: 0px;
  position: absolute;
}

.header > .links {
  font-family: system-ui, Courier, monospace;
  font-weight: 800;
  color: #172815;
  margin-left: 2vw;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 456px) {
  .title > h1 {
    font-size: 56px;
  }

  .zasha-img {
    height: 220px;
    width: 220px;
  }
}

/* Job Link */
.job-link {
  color: #172815;
  font-weight: 900;
}

.job-link:hover {
  color: #3E5622;
}

/* Project Links */
.project-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 100%;
  top: 24vh;
  font-weight: 900;
}

.project-links > .name {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  color: #172815;
}

.project-links > .project-link {
  font-family: system-ui, Courier, monospace;
  font-weight: 700;
  color: #172815;
  margin: 0;
}