body, html {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  height: 100%;
}

/* Title */
.title {
  height: 100%;
}

.title > h1 {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  font-size: 72px;
  color: white;
  margin: 0;
  position: absolute;
  top: 61%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title > h4, .title > p {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  color: white;
  margin: 0;
  position: absolute;
  top: 68%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title > .project-link {
  font-family: system-ui, Courier, monospace;
  font-weight: 900;
  color: white;
  margin: 0;
  position: absolute;
  top: 71%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* Mugshot */
.zasha-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid white;
  margin: 0;
  position: absolute;
  top: 38%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  top: 0px;
}

.header > p {
  font-family: system-ui, Courier, monospace;
  font-weight: 800;
  color: white;
  margin-right: 2vw;
  margin-top: 1em;
  text-align: right;
}

.header > img {
  margin-left: 2vw;
  margin-top: 1em;
  text-align: left;
  height: 40px;
  width: 40px;
  top: 0px;
  position: absolute;
}

.header > .links {
  font-family: system-ui, Courier, monospace;
  font-weight: 800;
  color: white;
  margin-left: 2vw;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 456px) {
  .title > p {
    top: 70%;
  }

  .title > h1 {
    font-size: 56px;
  }

  .zasha-img {
    height: 220px;
    width: 220px;
  }
}

/* Job Link */
.job-link {
  color: white;
  font-weight: 900;
}

.job-link:hover {
  color: #40a9ff;
}